<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and Analyze</title>
    <style>
        /* Stil ayarları burada */
    </style>
</head>
<body>

    <!-- Header -->
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('upload') }}">Ana Sayfa</a></li>
                <li><a href="{{ url_for('index') }}">Profil</a></li>
            </ul>
        </nav>
    </header>

    <!-- Upload Sayfası İçeriği -->
    <div class="container">
        <h1>File Uploader</h1>
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <label for="fileInput">Upload your file:</label>
            <input type="file" id="fileInput" name="file" required>

            <label for="platformSelect">Select Platform:</label>
            <select id="platformSelect" name="platform" required>
                <option value="" disabled selected>Select a platform</option>
                <option value="etsy">Etsy</option>
                <option value="amazon">Amazon</option>
                <option value="walmart">Walmart</option>
            </select>

            <label for="geoSelect">Select Region:</label>
            <select id="geoSelect" name="geo" required>
                {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>

            <label for="categorySearch">Select Category:</label>
            <div class="dropdown">
                <input type="text" id="categorySearch" placeholder="Search categories...">
                <div id="categoryDropdown" class="dropdown-content">
                    <select name="categories" id="categoryDropdown">
                        <option disabled selected>Select a Category</option>
                        {% for category in categories %}
                        <option>{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <label for="additionalInfo">Additional Information:</label>
            <textarea id="additionalInfo" name="additionalInfo" placeholder="Enter additional information here..."></textarea>

            <input type="hidden" id="apiKey" name="apiKey">
            <button type="submit">Upload and Analyze</button>
        </form>

        <div id="result">
            <h2>Analysis Result:</h2>
            <p id="outputTitle">Title: </p>
            <p id="outputDescription">Description: </p>
            <p id="outputAltText">Alt Text: </p>
            <p id="outputKeywords">Keywords: </p>
        </div>
    </div>

</body>
</html>
